/* @import url('./reset.css'); */

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

i {
    margin: 10px;
}

#player {
    display: none;
}

.warning {
    color: orange;
}

.success {
    color: green;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

fieldset {
    width: 300px;
}