@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    background: linear-gradient(
    rgb(0, 0, 0), 8%,
    rgb(5, 29, 24),92%,
    rgb(0, 0, 0)
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    min-height: 100%;
    color: #afafaf;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    width: 350px;
}

h1, h2 {
    font-family: 'Major Mono Display', sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-size: 36px;
    margin: 40px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

i {
    margin: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

i {
    margin: 20px;
}

button {
    font-weight: bold;
    background-color: rgb(71, 128, 88);
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(25, 97, 84);
    transition: all .2s ease-in;
}

button:focus {
    outline: none;
}
    
.warning {
    color: rgb(189, 79, 15);
}

.success {
    color: rgb(71, 128, 88);
}

.error {
    color: rgb(189, 15, 15);
}

.hidden {
    display: none;
}

.player-controls, 
.volume-controls, 
.spotify-connect-buttons {
    display: flex;
    justify-content: center;
}

#player {
    display: none;
}
#player-status {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 2em;
}

#track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
    
#track-info img {
    margin: 0 auto 20px auto;
    width: 300px;
}

#song-title {
    font-size: 18;
    font-weight: bold;
    margin-bottom: 10px;
}

#artist {
    font-size: 14;
    font-style: italic;
}

.spotify-connect-buttons {
    flex-direction: row;
}

#ambience-tracks {
    display: flex;
    justify-content: center;
    height: 80px;
}

.selected {
    background-color: rgb(105, 71, 130);
    color: rgb(175, 175, 175);
    box-shadow: 0px 0px 8px rgb(150, 101, 185);
}

.module {
    border: 2px solid #757575;
    border-radius: 5px;
    padding: 20px;
}

#spotify-connect {
    text-align: center;
    margin: 0 20px 40px 20px;
}

.module-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ALBUM ARTWORK */

#artwork-box {
    transition: all 2s ease-in;
    background-image: url('../img/spotify-icon.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    /* opacity: 0; */
}

.display-artwork {
    transition: all 2s ease-in;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgb(117, 117, 117);
}

#spotify-player,
#ambience-mixer {
    margin: 0 10px 20px 10px;
}
